@model TinyCRM.Application.ViewModels.LegalPerson.LegalPersonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @Model.CompanyName;
}

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
            <div class="breadcrumb-item"><a asp-area="" asp-controller="LegalPerson" asp-action="Index">Legal people</a></div>
            <div class="breadcrumb-item active">@Model.CompanyName</div>
        </div>
    </div>
    <div class="section-body">
        <h2 class="section-title">General</h2>
        <div class="card">
            <div class="card-body">
                <p>
                    <strong><label asp-for="CompanyName"></label></strong>
                    <br />
                    @Model.CompanyName
                </p>
                <p>
                    <strong><label asp-for="TradeName"></label></strong>
                    <br />
                    @Model.TradeName
                </p>
                <p>
                    <strong><label asp-for="IdDocument"></label></strong>
                    <br />
                    @Model.IdDocument
                </p>
                <p>
                    <strong><label asp-for="Country"></label></strong>
                    <br />
                    @Model.Country
                </p>
                <p>
                    <strong><label asp-for="ZipCode"></label></strong>
                    <br />
                    @Model.ZipCode
                </p>
                <p>
                    <strong><label asp-for="City"></label></strong>
                    <br />
                    @Model.City
                </p>
                <p>
                    <strong><label asp-for="State"></label></strong>
                    <br />
                    @Model.State
                </p>
                <p>
                    <strong><label asp-for="AddressLine1"></label></strong>
                    <br />
                    @Model.AddressLine1
                </p>
                <p>
                    <strong><label asp-for="AddressLine2"></label></strong>
                    <br />
                    @Model.AddressLine2
                </p>
            </div>
            <div class="card-footer text-right">
                @Html.ActionLink("Edit", "Edit", "LegalPerson", new { id = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Edit", "LegalPerson", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</section>