@model TinyCRM.Application.ViewModels.NaturalPerson.NaturalPersonViewModel

<form method="post">
    @Html.AntiForgeryToken()
    @if (Model != null)
    {
        <input asp-for="Id" type="hidden" />
    }
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row mb-4">
            <label asp-for="Name" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="IdDocument" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="IdDocument" class="form-control" />
                <span asp-validation-for="IdDocument" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="Birthday" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="Gender" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<TinyCRM.Domain.Entities.NaturalPerson.GenderType>()" class="form-control select2">
                    <option value="">-- @SharedLocalizer["NotSpecified"] --</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="Email" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="Country" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <select asp-for="Country" asp-items="@(new SelectList(ViewBag.CountryList))" class="form-control select2">
                    <option value="">-- @SharedLocalizer["NotSpecified"] --</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="ZipCode" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="State" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="City" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="AddressLine1" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="AddressLine2" class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary">@SharedLocalizer["SaveAction"]</button>
        <a class="btn btn-link" asp-area="" asp-controller="NaturalPerson" asp-action="Index">@SharedLocalizer["CancelAction"]</a>
    </div>
</form>