@model TinyCRM.Application.ViewModels.NaturalPerson.NaturalPersonViewModel

@{
    ViewData["Title"] = Localizer["ViewTitle"];
}

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></div>
            <div class="breadcrumb-item"><a asp-area="" asp-controller="NaturalPerson" asp-action="Index">@SharedLocalizer["NaturalPerson"]</a></div>
            <div class="breadcrumb-item active">@SharedLocalizer["CreateAction"]</div>
        </div>
    </div>
    <div class="section-body">
        <h2 class="section-title">@SharedLocalizer["GeneralSection"]</h2>
        <div class="card">
            @await Html.PartialAsync("_Form.cshtml", Model)
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/zipcode.js"></script>
}